@charset "utf-8";
/* CSS Document */

/*　全体 */
*{
	margin:0;
	padding:0;
	color:#333333;
}
p{
	font-size:16px;
	line-height:1.6;
}

nav ul li a:hover {
	background-color: #F3E9E9;
}

/*　ヘッダー */
header {
 width: 980px;
 margin-right: auto;
 margin-left: auto;
}


header h1 {
  margin: 20px 0;
  font-size: 32px;
  text-align: center;
}


nav {
  width: 980px;
  clear: both;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  width: 244px;
  margin-right: 1px;
  text-align: center;
}

nav ul li a {
 display: block;
 padding: 16px;
 background-color: #F5EFEF;
 text-decoration: none;
}

/*　メイン */
#main_image {
 width: 980px;
 margin-right: auto;
 margin-left: auto;
 margin-bottom: 25px;
}

#wrapper {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

main {
 width: 980px;
 float: left;
 margin-bottom: 30px;
}

main h2 {
 border: medium #EC91AC solid;
 padding: 10px;
 margin: 0 0 25px;
}

main h3 {
 border-left: 10px #EC91AC solid;
 padding: 0 0 0 10px;
 margin: 10px 0 10px;
}

/*　フッター */
footer {
 background-color: #F5EFEF;
 text-align: center;
 padding: 15px 0 15px;
}

